/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/rgb.h>

#define HYPER LC(LS(LG(LALT)))

#define ___ &trans
#define XXX &none

#define NUM1 KP_NUMBER_1
#define NUM2 KP_NUMBER_2 
#define NUM3 KP_NUMBER_3
#define NUM4 KP_NUMBER_4
#define NUM5 KP_NUMBER_5 
#define NUM6 KP_NUMBER_6 
#define NUM7 KP_NUMBER_7 
#define NUM8 KP_NUMBER_8 
#define NUM9 KP_NUMBER_9 
#define NUM0 KP_NUMBER_0 

#define DEF 0  // layer shortcuts, must match order in which they are defined below
#define SPECIAL 1
#define NUM 2
#define MOUSE 3
#define FBT 4

// DE
#define DE_CARET GRAVE  	// ^ (dead)
#define DE_1    N1        	// 1
#define DE_2    N2        	// 2
#define DE_3    N3        	// 3
#define DE_4    N4        	// 4
#define DE_5    N5        	// 5
#define DE_6    N6        	// 6
#define DE_7    N7        	// 7
#define DE_8    N8        	// 8
#define DE_9    N9        	// 9
#define DE_0    N0        	// 0
#define DE_SS   MINUS		// ß
#define DE_ACUT EQUAL	  	// ´ (dead)
#define DE_Q    Q    		// Q
#define DE_W    W    		// W
#define DE_E    E    		// E
#define DE_R    R    		// R
#define DE_T    T   	 	// T
#define DE_Z    Y    		// Z
#define DE_U    U    		// U
#define DE_I    I    		// I
#define DE_O    O    		// O
#define DE_P    P    		// P
#define DE_UE	LBKT	 	// Ü
#define DE_PLUS RBKT 		// +
#define DE_A    A    		// A
#define DE_S    S    		// S
#define DE_D    D    		// D
#define DE_F    F    		// F
#define DE_G    G    		// G
#define DE_H    H    		// H
#define DE_J    J    		// J
#define DE_K    K    		// K
#define DE_L    L    		// L
#define DE_OE	SEMI	 	// Ö
#define DE_AE	SQT		 	// Ä
#define DE_HASH BACKSLASH 	// #
#define DE_LT	NUBS 		// <
#define DE_Y    Z    		// Y
#define DE_X    X    		// X
#define DE_C    C    		// C
#define DE_V    V    		// V
#define DE_B    B    		// B
#define DE_N    N    		// N
#define DE_M    M    		// M
#define DE_COMMA COMMA	 	// ,
#define DE_PERIOD PERIOD	// .
#define DE_MINUS SLASH 		// -
#define DE_DEG  LS(DE_CARET)// °
#define DE_EXLM LS(DE_1)    // !
#define DE_DQUO LS(DE_2)    // "
#define DE_SECT LS(DE_3)    // §
#define DE_DLR  LS(DE_4)    // $
#define DE_PERC LS(DE_5)    // %
#define DE_AMPR LS(DE_6)    // &
#define DE_SLSH LS(DE_7)    // /
#define DE_LPRN LS(DE_8)    // (
#define DE_RPRN LS(DE_9)    // )
#define DE_EQL  LS(DE_0)    // =
#define DE_QUES LS(DE_SS)   // ?
#define DE_GRV  LS(DE_ACUT) // ` (dead)
#define DE_ASTR LS(DE_PLUS) // *
#define DE_QUOT LS(DE_HASH) // '
#define DE_GT	LS(DE_LT)	// >
#define DE_SCLN LS(DE_COMMA)// ;
#define DE_COLN LS(DE_PERIOD)  // :
#define DE_UNDS LS(DE_MINUS)// _
#define DE_SUP2 RA(DE_2)    // ²
#define DE_SUP3 RA(DE_3)    // ³
#define DE_LCBR RA(DE_7)    // {
#define DE_LBRC RA(DE_8)    // [
#define DE_RBRC RA(DE_9)    // ]
#define DE_RCBR RA(DE_0)    // }
#define DE_BSLS RA(DE_SS)   // (backslash)
#define DE_AT   RA(DE_Q)    // @
#define DE_EURO RA(DE_E)    // €
#define DE_TILD RA(DE_PLUS) // ~
#define DE_PIPE RA(DE_LT)	// |
#define DE_MICR RA(DE_M)    // µ

/ {
    behaviors {
        // For the "layer" key, it'd nice to be able to use it as either a shift or a toggle.
        // Configure it as a tap dance, so the first tap (or hold) is a &mo and the second tap is a &to
        layer_td: tap_dance_0 {
            compatible = "zmk,behavior-tap-dance";
            label = "LAYER_TAP_DANCE";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&mo LOWER>, <&to LOWER>;
        };

        magic: magic_hold_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "MAGIC_HOLD_TAP";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            bindings = <&mo>, <&rgb_ug_status_macro>;
        };

         ct: control_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "CONTROL_TAP";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <200>;
            quick-tap-ms = <150>;
            bindings = <&kp>, <&kp>;
        };

        ud: undead_macro {
            compatible = "zmk,behavior-macro-one-param";
            label = "UNDEAD_MACRO";
            #binding-cells = <1>;
            bindings = <&macro_param_1to1>, <&kp MACRO_PLACEHOLDER>, <&kp SPACE>;
        };
 
    };

    macros {
        rgb_ug_status_macro: rgb_ug_status_macro_0 {
            label = "RGB_UG_STATUS";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&rgb_ug RGB_STATUS>;
        };

        bt_0: bt_profile_macro_0 {
            label = "BT_0";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&out OUT_BLE>,
                  <&bt BT_SEL 0>;
        };

        bt_1: bt_profile_macro_1 {
            label = "BT_1";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&out OUT_BLE>,
                  <&bt BT_SEL 1>;
        };

        bt_2: bt_profile_macro_2 {
            label = "BT_2";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&out OUT_BLE>,
                  <&bt BT_SEL 2>;
        };

        bt_3: bt_profile_macro_3 {
            label = "BT_3";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&out OUT_BLE>,
                  <&bt BT_SEL 3>;
        };
    };

    combos {
        compatible = "zmk,combos";
        numlock_combo {
            bindings = <&kp KP_NLCK>;
            key-positions = <69 72>; 
            layers = <NUM>;
            timeout-ms = <25>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
            &kp F1         &kp F2   &kp F3      &kp F4      &kp F5                                                                                         &kp F6  &kp F7      &kp F8      &kp F9      &kp F10
            &none          &kp N1   &kp N2      &kp N3      &kp N4      &kp N5                                                                     &kp N6        &kp N7        &kp N8        &kp N9        &kp N0        &none
            &kp ESC        &kp DE_X &kp DE_V    &kp DE_L    &kp DE_C    &kp DE_W                                                                   &kp DE_K      &kp DE_H      &kp DE_G      &kp DE_F      &kp DE_Q      &kp DE_SS
            &kp TAB          &ct LSHIFT DE_U      &ct LWIN DE_I        &ct LALT DE_A        &ct LCTRL DE_E       &kp DE_O                          &kp DE_S      &ct LCTRL DE_N     &ct LALT DE_R      &ct LWIN DE_T      &ct LSHIFT DE_D    &kp DE_Y
            &kp LSHIFT       &kp DE_UE &kp DE_OE   &kp DE_AE   &kp DE_P    &kp DE_Z    &kp SPACE   &kp BSPC    &none      &none     &kp RET   &kp LSHIFT &kp DE_B      &kp DE_M      &kp DE_COMMA  &kp DE_PERIOD &kp DE_J      &none
            &magic MAGIC 0   &none    &none       &none       &none                   &mo SPECIAL &kp SPACE   &kp BSPC   &kp RET   &kp LSHIFT &mo NUM               &none         &none         &none         &none         &none
            >;
        };

        magic_layer {
            bindings = <
            &bt BT_CLR        &none               &none           &none           &none                                                                                                           &none      &none      &none      &none      &bt BT_CLR_ALL
            &none             &none               &none           &none           &none           &none                                                                                &none      &none      &none      &none      &none      &none
            &none             &rgb_ug RGB_SPI     &rgb_ug RGB_SAI &rgb_ug RGB_HUI &rgb_ug RGB_BRI &rgb_ug RGB_TOG                                                                      &none      &none      &none      &none      &none      &none
            &bootloader       &rgb_ug RGB_SPD     &rgb_ug RGB_SAD &rgb_ug RGB_HUD &rgb_ug RGB_BRD &rgb_ug RGB_EFF                                                                      &none      &none      &none      &none      &none      &bootloader
            &sys_reset        &none               &none           &none           &none           &none           &bt_2     &bt_3     &none            &none     &none     &none       &none      &none      &none      &none      &none      &sys_reset
            &none             &none               &none           &none           &none                           &bt_0     &bt_1     &out OUT_USB     &none     &none     &none                  &none      &none      &none      &none      &to FACTORY_TEST
            >;
        };

        factory_test_layer {
            bindings = <
            &kp N0   &kp N6   &kp N2   &kp N8   &kp N4                                                                              &kp N4   &kp N8   &kp N2   &kp N6   &kp N0
            &kp N1   &kp N7   &kp N3   &kp N9   &kp N5   &kp N0                                                            &kp N0   &kp N5   &kp N9   &kp N3   &kp N7   &kp N1
            &kp N2   &kp N8   &kp N4   &kp N0   &kp N6   &kp N1                                                            &kp N1   &kp N6   &kp N0   &kp N4   &kp N8   &kp N2
            &kp N3   &kp N9   &kp N5   &kp N1   &kp N7   &kp N2                                                            &kp N2   &kp N7   &kp N1   &kp N5   &kp N9   &kp N3
            &kp N4   &kp N0   &kp N6   &kp N2   &kp N8   &kp N3   &kp N4   &kp N5   &kp N6      &kp N6   &kp N5   &kp N4   &kp N3   &kp N8   &kp N2   &kp N6   &kp N0   &kp N4
            &kp N5   &kp N1   &kp N7   &kp N3   &kp N9            &kp N7   &kp N8   &kp N9      &kp N9   &kp N8   &kp N7            &kp N9   &kp N3   &kp N7   &kp N1   &kp N5
            >;
        };
    };
};
